* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

.flex-item-head {
    background-color: #f1f1f1;
    padding: 100px;
    flex: 100%;
}

.flex-item-body {
    background-color: dodgerblue;
    padding: 500px;
    flex: 100%;
}

.flex-item-floor {
    background-color: rgb(255, 30, 30);
    padding: 100px;
    flex: 100%;
}

@media (max-width: 800px) {
    .flex-item-head,
    .flex-item-floor,
    .flex-item-body {
        flex: 100%;
    }
}